*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
/* Case Studies part start */
#case_studies{
    padding-top: 200px;
}
.case_studies_text h6{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}
.case_studies_text h3{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}
.case_studies_text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;  
    padding-top: 16px;
}
.case_studies_img img{
    padding-top: 48px;
}
.case_img_text{
    padding-top: 48px;
}
.case_img_text h6{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.case_img_text h4{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;    
}
/* Case Studies part end */
/* About the project part start*/
.about_pro_text{
    padding-top: 96px;
}
.about_pro_text h3{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;  
} 
.about_pro_text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.about_pro_text ol li{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: justified;
    padding: 8px 0;
}
.about_pro_img img{
    padding-top: 60px;
}
/* About the project part end*/
/* lets build something part start */
.build_text{
    padding: 20px 0 60px 0;
}
.build_text h3{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em; 
}
.build_text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    padding-bottom: 30px;   
}
.build_text a{
    font-family: poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    padding: 10px 40px;
    background-color: tomato;
    color: #000;
    transition: 0.4s;
    border-radius: 25px;
}
.build_text a:hover{
    background-color: rgba(252, 217, 128, 1);
    color: rgba(255, 30, 0, 1);
}
/* lets build something part end */
/* keywords part start */
#list_text_main{
    margin: 80px 0;
}
.list_text_inner{
    border-top: 1px solid rgb(177, 176, 176);
    border-bottom: 1px solid rgb(177, 176, 176);
}
.list_text_inner a{
    padding:15px 20px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: justified;
}
/* keywords part end */
/* Responsive part start */
@media (max-width:575px){
    .case_img_text {
        padding-top: 5px;
    }
    .case_img_text h4 {
        font-size: 13px;
        line-height: 3px;
    }
    .case_img_text h6 {
        font-size: 13px;
    }
    .offset-2 {
        margin-left: 0%;
    }
    .list_text_inner a {
        padding: 15px 3px;
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
    }
    .about_pro_text ol li {
        font-size: 14px;
    }
}
@media (min-width:576px) and (max-width:767px){
    .case_img_text {
        padding-top: 5px;
    }
    .case_img_text h4 {
        font-size: 14px;
        line-height: 3px;
    }
    .case_img_text h6 {
        font-size: 14px;
    }
    .offset-2 {
        margin-left: 0%;
    }
    .list_text_inner a {
        padding: 15px 2px;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }
    .about_pro_text ol, ul {
        padding-left: 20px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .case_img_text {
        padding-top: 5px;
    }
    .case_img_text h4 {
        font-size: 20px;
    }
    .offset-2 {
        margin-left: 0%;
    }
    .list_text_inner a {
        padding: 15px 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    .about_pro_text ol, ul {
        padding-left: 43px;
    }
    
}
@media (min-width:992px) and (max-width:1199px){
    .case_img_text h4 {
        font-size: 17px;
        line-height: 7px;
    }
    .list_text_inner a {
        padding: 15px 9px;
        font-size: 16px;
    }
}
@media (min-width:1200px) and (max-width:1399px){
    .case_img_text h4 {
        font-size: 17px;
        line-height: 7px;
    }
    .list_text_inner a {
        padding: 15px 10px;
        font-size: 17px;
    }
}