*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
/* main Contact Part start */
#main_contact{
    padding-top: 200px;
}

.contact_inner h2{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
}
.contact_inner p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}
/* main Contact Part end */
/* Contact Part Start */
#contact{
    padding-top: 50px;
    background-color: rgba(244, 246, 252, 1);
}
button{
    padding-bottom: 20px;
}
.but_text{
    padding-bottom: 60px;
}
.btn{
    padding: 10px 50px;
    background-color: rgba(255, 30, 0, 1);
    color: #fff;
    transition: 0.4s;
    border-radius: 41px;

}
.btn:hover{
    background-color: rgba(252, 217, 128, 1);
}
/* Contact Part end */
